.saving-card{
    border: 1px solid var(--background-color);
    margin: 10px auto;
}
.item-icon{
    margin-right: 5px;
}
.progress-wrap{
    margin: 25px 0 5px;
}
.progress{
    width: 100%;
    accent-color: var(--text-color);
}
.t-amount-bal{
    font-weight: 600;
    opacity: 1;
    font-size: 36px;
    margin-top: 2px !important;
}
p{
    font-weight: 600 !important;
}