.top-nav-card{
    justify-content: space-between;
    margin-top: 10px;
}
.seacrh-card{
    background-color: var(--background-color);
    padding: 10px;
    border-radius: 8px;
    min-width: 360px;
}
.search-input{
    width: 320px;
}
.search-image{
    margin: -3px 6px;
}